.calendar {
  background: white;
  border-radius: 16px;
  padding: 24px;

  width: 100%;
  max-width: 500px;

  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h3 {
  font-size: 18px;
  font-weight: 600;
}

.header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;

  text-align: center;
  font-size: 13px;
  color: #9ca3af;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.cell {
  min-height: 80px;
  padding: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border-radius: 14px;
  background: #f3f4f6;

  cursor: pointer;
  transition: all 0.2s;
}

.cell:hover {
  background: #5b6371;
}

.today {
  border: 2px solid #2c3e50;
}

.selected {
  background: #2c3e50;
  color: white;
}

.selected .classItem,
.selected .more {
  color: #e5e7eb;
}

.date {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.classList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  width: 100%;
}

.classItem {
  font-size: 8px;
  color: #374151;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  width: 100%;
  text-align: center;
}

.record {
  color: #4b5563;
}

.more {
  font-size: 10px;
  color: #9ca3af;
}
