.nav{
    width: 100%;
    max-width: 900px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navList{
    display: flex;
    gap: 8px;
}

.navList > a { 
    text-decoration-line: none;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-size: 16px;
    color: #2C3E50;
    min-width: 100px;
    height: 40px;
    font-size: clamp(14px, 1.5vw, 18px);

}

.active {
  background: rgba(44, 62, 80, 0.1);
  border-radius: 14px;
}


