.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f7f8fa;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  border: 0.753px solid #e5e7eb;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

  margin-top: 20px;
}

.profileImgWrap {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profileImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.section {
  margin-bottom: 30px;
}

.section h3 {
  margin-bottom: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field input {
  height: 40px;
  padding: 8px;
  border: 0.753px solid rgba(0, 0, 0, 0);
  background: #f8f9fa;
  color: #67798d;
}

.field img {
  width: 18px;
  height: 18px;
}

.field label {
  color: #67798d;
  font-size: 14px;
}

.field input {
  color: #67798d;
}

.backBtn {
  display: flex;
  align-items: center;
  gap: 6px;

  background: none;
  border: none;
  font-size: 14px;
  color: #67798d;
  cursor: pointer;
}

.backBtn img {
  width: 16px;
  height: 16px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editBtnTop {
  padding: 8px 14px;
  background: #2c3e50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

.labelRow {
  display: flex;
  align-items: center;
  gap: 6px;
}

.buttonGroup {
  display: flex;
  gap: 12px;
  margin-top: 24px;
  cursor: pointer;
}

.cancelBtn {
  flex: 1;
  height: 48px;

  border-radius: 12px;
  border: 1px solid #d1d5db;

  background: #ffffff;
  color: #2c3e50;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
}

.saveBtn {
  flex: 1;
  height: 48px;

  border-radius: 12px;
  border: none;

  background: #2c3e50;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.passwordLabel label {
  color: #2c3e50;
  font-weight: 500;
}

.profileLabel {
  position: relative;
  cursor: pointer;
  width: 120px;
  height: 120px;
  display: inline-block;
}

.profileText {
  margin-top: 8px;
  font-size: 13px;
  color: #67798d;
  text-align: center;
}

.errorText {
  margin-top: 6px;
  font-size: 12px;
  color: #e74c3c;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  font-size: 14px;
}
