.card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-top: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
  margin-bottom: 26px;
  margin-left: 16px;
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profileImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #2c3e50;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 16px;
  font-weight: 600;
  color: #2c3e50;
}

.level {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
  background: rgba(44, 62, 80, 0.1);
  color: #2c3e50;
  width: fit-content;
}

.mypage-buttons {
  display: flex;
  gap: 10px;
}

.mypage-btn {
  all: unset;

  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 12px;
  border-radius: 999px;

  background: #2c3e50;
  color: #ffffff;

  font-size: 12px;
  cursor: pointer;

  white-space: nowrap;
}

.mypage-btn img {
  width: 14px;
  height: 14px;
}

.mypage-btn:hover {
  background: #1a252f;
}

.progressSection {
  margin-top: 20px;
}

.progressHeader {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #67798d;
  margin-bottom: 8px;
}

.desc {
  margin-top: 10px;
  font-size: 12px;
  color: #67798d;
}
