.card {
  background: #f7f8fb;
  border-radius: 12px;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card:hover {
  background: #eef1f5;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 22px;
  opacity: 0.7;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: #2c3e50;
}

.meta {
  font-size: 12px;
  color: #7a8a9a;
  margin-top: 2px;
}

.arrow {
  width: 8px;
}
.class-btn{
    background-color: #2c3e50;
    color:white;
    border-radius: 24px;
}
