.post-bigcontainer {
  background: #FFFFFF;
}
.post-topbar {
  max-width: 895px;
  margin: 16px auto 0px;
  color: #67798D;

  display: flex;        
  align-items: center;  
  gap: 6px;            
  cursor: pointer;

  font-size: 18px;   
}


