.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FFFFFF;
  padding: 24px;
}

.form-card {
  width: 100%;
  max-width: 1280px;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
              0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
  min-height: 678px;
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 17px;
  color: #2C3E50;
}

/* 공통 입력 박스 */
.form-box {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.form-box label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #67798D;
}

.form-box input {
  padding: 10px;
  border: 1px solid #ddd;
  background: #F8F9FA;
  border-radius: 14px;
  font-size: 14px;
  color: #67798D;
  outline: none;
}

.form-box textarea {
  padding: 10px;
  border: 1px solid #ddd;
  background: #F8F9FA;
  border-radius: 14px;
  font-size: 14px;
  color: #67798D;
  height: 368px;
  resize: none;
  outline: none;
}

.star-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.starOn {
  color: #F5B301;
  font-size: 22px;
  cursor: pointer;
}

.starOff {
  color: #D9D9D9;
  font-size: 22px;
  cursor: pointer;
}

.ratingText {
  margin-left: 10px;
  font-size: 14px;
  color: #67798D;
}

.form-chkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  color: #67798D;
  font-size: 14px;
}

/* 버튼 영역 */
.form-btn-group {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  margin-top: auto;
}

/* 취소 버튼 */
.form-cancel {
  width: 100px;
  padding: 10px 16px;
  border-radius: 14px;
  border: 0.752756px solid rgba(44, 62, 80, 0.1);
  background: white;
  color: #2C3E50;
  cursor: pointer;
}

/* 등록 버튼 */
.form-submit {
  width: 100px;
  padding: 10px 16px;
  border-radius: 14px;
  background: #2C3E50;
  color: white;
  border: none;
  cursor: pointer;
}
