.fileterbar-ct {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 14px;
  border: 0.8px solid #e5e7eb;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

/* 검색 행 */
.fileterbar-search-ct {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fileterbar-input-ct {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 13px;
  border-radius: 10px;
  border: 0.8px solid #e5e7eb;
  background: #f9fafb;
}

.fileterbar-approve-button {
  padding: 7px 19px;
  border-radius: 10px;
  background: #00a63e;
  color: #fff;
  text-align: center;
  font-family: 'Pretendard Variable';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  border: 0px;
  cursor: pointer;
}

.fileterbar-input {
  flex: 1;
  font-family: 'Pretendard Variable';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0px;
  background: #f9fafb;
}

.fileterbar-input::placeholder {
  color: rgba(103, 121, 141, 0.5);
}

.fileterbar-fileter-ct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fileterbar-select-ct {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* select 공통 */
.fileter-select {
  width: 120px;
  padding: 10px 10px;
  border: 1px solid #e5e7eb;
  font-size: 13px;
  color: #374151;
  cursor: pointer;
  border-radius: 10px;
  border: 0.8px solid rgba(0, 0, 0, 0);
  background: #f8f9fa;
}

.fileter-select:focus {
  border-color: #9ca3af;
}

/* 상태 토글 버튼 (대기중 / 승인됨) */
.fileter-statusBtn {
  padding: 7px 17px;
  cursor: pointer;
  border-radius: 10px;
  border: 0.8px solid rgba(44, 62, 80, 0.1);
  background: #fff;
  color: #2c3e50;
  text-align: center;
  font-family: 'Pretendard Variable';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.statusBtn:hover {
  border-color: #9ca3af;
}

.fileter-statusBtn-active {
  background: #1f2937;
  color: #ffffff;
  border-color: #1f2937;
}

/* 강의 등록 버튼 */
.fileterbar-register-button {
  padding: 7px 19px;
  border-radius: 10px;
  background: #2c3e50;
  color: #fff;
  text-align: center;
  font-family: 'Pretendard Variable';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  border: 0px;
  white-space: nowrap;
  cursor: pointer;
}

.fileterbar-register-button:hover {
  background: #1f2937;
}

/* 필터 초기화 버튼 */
.fileter-resetbtn {
  padding: 7px 26px;
  border: none;
  border-radius: 10px;
  background: #2c3e50;
  color: #fff;
  text-align: center;
  font-family: 'Pretendard Variable';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.fileter-resetbtn:hover {
  background: #374151;
}
