.prfsignup-ct {
  width: 840px;
  border-radius: 24px;
  background: #fff;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 20px 0px;
}

.prfsign-title {
  color: #2c3e50;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.prfsign-profile-upload-ct {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}
.prfsign-profile-upload-ct > label {
  color: #2c3e50;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 14px;
  background: #f8f9fa;

  width: 95px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.prfsign-profile-upload-ct > input[type="file"] {
  display: none;
}

.prfsign-profile-upload-ct > select {
  margin-left: auto;
  text-align: center;
  width: 100px;
  height: 36px;
  border-radius: 14px;
  background: #f8f9fa;
  border: 0px;
}

.prfsign-profile-upload-ct > select:active {
  border-radius: 14px;
}

.prfsign-level-ct {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.prfsign-level-ct > button {
  width: 8%;
  height: 44px;

  color: #2c3e50;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  border-radius: 14px;
  background: #f8f9fa;
  border: 0px;
}

.prfsign-qualification-upload-ct {
  height: 80px;
  border-radius: 14px;
  border: 1.6px dashed rgba(44, 62, 80, 0.1);
  background: #f8f9fa;
  margin-top: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.prfsign-qualification-upload-ct > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.prfsign-qualification-upload-ct p {
  color: #67798d;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
}

.prfsign-qualification-upload-ct > input[type="file"] {
  display: none;
}

.prfsign-question-ct {
  border-radius: 14px;
  background: #f8f9fa;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top : 12px;
}

.prfsign-question-ct input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 0.8px solid rgba(44, 62, 80, 0.1);
  background: #f8f9fa;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.prfsign-level-check-ct > button {
  border-radius: 8px;
  background: #2c3e50;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;

  width: 85px;
  height: 30px;
}

.prfsign-btn-ct {
  display: flex;
  width: 840px;
  justify-content: space-between;
  margin: 24px 0px 46px 0px;
}

.prfsign-btn-ct > button {
  border-radius: 14px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  width: 400px;
  border: 0px;
  height: 48px;

  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.prfsign-btn-ct > button:first-child {
  background: #fff;
  color: #000;
}

.prfsign-btn-ct > button:last-child {
  background: #2c3e50;
  opacity: 0.5;
  color: #fff;
}
