.stusignup-ct {
  width: 840px;
  border-radius: 24px;
  background: #fff;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0px;
}

.stusign-profile-title {
  color: #2c3e50;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.stusign-profile-upload-ct {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.stusign-profile-upload-ct > img {
  width : 80px;
  height : 80px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.stusign-profile-upload-ct > label {
  color: #2c3e50;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 14px;
  background: #f8f9fa;

  width: 95px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stusign-profile-upload-ct > input[type="file"] {
  display: none;
}

.stusignup-ct > label,
.stusignup-ct > article > label {
  color: #2c3e50;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.stusign-question-ct {
  border-radius: 14px;
  background: #f8f9fa;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stusign-level-check-ct {
  display: flex;
  justify-content: space-between;
}

.stusign-question-ct p,
.stusign-question-ct label {
  color: #2c3e50;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.stusign-question-ct input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: rgba(44, 62, 80, 0.1);
  border: 1px solid rgba(44, 62, 80, 0.1);
}
.stusign-question-ct input[type="radio"]:checked {
  background-color: #2C3E50;
}

.stusign-question-ct > div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.stusignup-ct > article > label {
    display : block;
    margin: 12px 0px;
}

.stusign-question-ct input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 0.8px solid rgba(44, 62, 80, 0.1);
  background: #f8f9fa;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.stusign-question-ct input[type="checkbox"]:checked {
  background-image: url('/src/assets/icon/Checkboxactive.svg');
}

.stusign-level-check-ct > button {
  border-radius: 8px;
  background: #2c3e50;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;

  width: 85px;
  height: 30px;
}

.stusign-btn-ct {
  display: flex;
  width: 840px;
  justify-content: space-between;
  margin: 24px 0px 46px 0px;
}

.stusign-btn-ct > button {
  border-radius: 14px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  width: 400px;
  border: 0px;
  height: 48px;

  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.stusign-btn-ct > button:first-child {
  background: #fff;
  color: #000;
}

.stusign-btn-ct > button:last-child {
  background: #2c3e50;
  opacity: 0.5;
  color: #fff;
}
