.classcard-item{
    border: 1px solid #000000;
    border-radius: 16px;
    background-color: white;
    width: 395px;
    height: 240px;
}

.classcard-level{
    background: rgba(44, 62, 80, 0.1);
    width: 65px;
    height: 28px;
    border-radius: 20px;
}




