.classcard-item {
  border: 1px solid #000000;
  border-radius: 16px;
  background-color: white;
  width: 395px;
  height: 240px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  object-fit: cover;
}

.information {
  display: flex;
  flex-direction: column;
}

.classcard-name {
  font-size: 14px;
  color: #67798d;
}

.classcard-professorName {
  font-size: 16px;
  color: #2c3e50;
}

.classcard-level {
  background: rgba(44, 62, 80, 0.1);
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.content {
  color: #67798d;
  margin: 0 20px;
  font-size: 14px;
}

.classcard-title {
  color: #2c3e50;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 11px;
}

.classcard-openDate {
  margin-bottom: 8px;
}

.classcard-branchName {
  margin-left: 12px;
}

.footer {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-bottom: 12px;
}

.classcard-detail-button {
  height: 40px;
  background-color: white;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(44, 62, 80, 0.1);
}

.classcard-register-button {
  height: 40px;
  background-color: #2c3e50;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer button {
  flex: 1;
  margin: 8px;
}
