.class-container{
    width: 1521px;
    height: 998px;
    left: 270px;
    top: 82px;
    background: #F9FAFB;
    border: 1px solid black;
}

.class-back{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #67798D;
}


